{if $S_TYPE == 1}
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L CONFIRMATION}</h3>
	<p>{L CONFIRM_EXPLAIN}</p>

	<fieldset class="fields2">
{/if}

	<dl>
		<dt><label for="confirm_code">{L CONFIRM_CODE}:</label></dt>
		<dd><img src="{$CONFIRM_IMAGE_LINK}" alt="{L CONFIRM_CODE}" /></dd>
		<dd><input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="{$CAPTCHA_TAB_INDEX}" class="inputbox narrow" title="{L CONFIRM_CODE}" />
		{if $S_CONFIRM_REFRESH}<input type="submit" name="refresh_vc" id="refresh_vc" class="button2" value="{L VC_REFRESH}" />{/if}
		<input type="hidden" name="confirm_id" id="confirm_id" value="{$CONFIRM_ID}" /></dd>
		<dd>{L CONFIRM_CODE_EXPLAIN}</dd>
	</dl>

{if $S_TYPE == 1}
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
{/if}
